 <div class="background">
 <div class="mdl-layout mdl-js-layout">
    <main class="mdl-layout__content">
    <!-- HERO WRAPPER -->
    <div class="hero_wrapper">
      <div id='hero' class='mdl-grid'>
        <div id='logo_wrapper' class="mdl-cell mdl-cell--6-col-desktop mdl-cell--4-col-tablet mdl-cell--stretch">
          <img src='/assets/img/login_2x.png' class='logo'/>
        </div>
        <div id='info' class="mdl-cell mdl-cell--4-col-desktop mdl-cell--2-col-tablet mdl-cell--stretch">
          <span class='title'>Hubbub</span>
          <span class='subtitle'>Meet people with similar interests</span>
          <a href='https://play.google.com/store/apps/details?id=com.hubbub.hubbub&hl=en&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'
             class='marketing-badge google-play'>
            <img alt='Get it on Google Play' src='assets/img/google-play-badge.png'/>
          </a>
          <a href='https://itunes.apple.com/us/app/all-the-hubbub/id1234046078?mt=8'
             class='marketing-badge app-store'>
            <img alt='Download on the App Store' src='/assets/img/app_store_270x80.png'/>
          </a>
        </div>
      </div>
    </div>
    <!-- END HERO WRAPPER -->

    <div class='notice'>
      <div class='copy'>
        <span class='title'>Built for our talk at I/O 2017</span>
        <span class='description'>Hubbub was built for our talk at Google I/O 2017 to <a href='https://events.google.com/io/schedule/?section=may-18&sid=f2aa8aa1-e92d-4a64-a388-9d11956d3068'>explain how to build robust mobile applications for the distributed cloud</a>.</span>
      </div>
    </div>
    </main>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
</div>
