# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/webapp/dist
/tmp
/out-tsc
webapp/src/environments/environment.ts

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.swp

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

.alm
**/test/fixtures
.envrc
Hubbub-832a008fa871.json
firebase-debug.log
hubbub-staging-firebase-adminsdk-np34o-c9ca59c6b6.json
