<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>113654972557-rdi2mo2jrea4uclun1k085rqs13ahb3r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.113654972557-rdi2mo2jrea4uclun1k085rqs13ahb3r</string>
	<key>API_KEY</key>
	<string>AIzaSyCoj-TQ2NR7Y7mh5tPb6e81JTscVuhBtJQ</string>
	<key>GCM_SENDER_ID</key>
	<string>113654972557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.all-the-hubbub.Hubbub</string>
	<key>PROJECT_ID</key>
	<string>hubbub-159904</string>
	<key>STORAGE_BUCKET</key>
	<string>hubbub-159904.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:113654972557:ios:027913db98e82451</string>
	<key>DATABASE_URL</key>
	<string>https://hubbub-159904.firebaseio.com</string>
</dict>
</plist>