<div class="dialog-header">
  <h2 md-dialog-title>Join a meetup</h2>
  <button md-icon-button md-dialog-close>
    <i class="material-icons">close</i>
  </button>
</div>

<!-- TODO:LOADING SLOTS -->
<!-- Need a way to know if it's loading vs none -->
<!-- <md-dialog-content class="event-dialog-content">
    <md-progress-spinner mode="indeterminate"></md-progress-spinner>
</md-dialog-content> -->

<!-- NO SLOTS -->
<md-dialog-content class="event-dialog-content" *ngIf="!(slotList$ | async)?.length">
    <p class="secondary text-center empty-state">
      Sorry, looks like there are no upcoming events right now
    </p>
</md-dialog-content>

<!-- HAS SLOTS -->
<md-dialog-content class="event-dialog-content" *ngIf="(slotList$ | async)?.length">

    <md-list>
      <md-list-item class="event edit" *ngFor="let item of slotList$ | async">

      <md-checkbox (click)="select(item)" [checked]="item.requested" align="before">
        <event  [startAt]="item.startAt"
                [name]="item.name"
                [location]="item.location"
                class="event-detail"></event>

          </md-checkbox>

      </md-list-item>
    </md-list>
</md-dialog-content>

