<md-card>
  <md-card-header>
    <md-card-title>Meet New People</md-card-title>
    <md-card-subtitle>Sign up and we'll find a group you might like.</md-card-subtitle>
  </md-card-header>

  <md-card-content>

    <md-list>
    <md-list-item *ngFor="let item of eventList$ | async">
      <h3 md-line>{{item.name}}</h3>
      <p md-line class="demo-secondary-text">Time - Location</p>
      <div *ngIf="item.topic">
        <p md-line class="demo-secondary-text">{{item.topic.name}}</p>
      </div>
      <div *ngIf="!item.topic">
        <p md-line class="demo-secondary-text">pending</p>
      </div>

    </md-list-item>
    </md-list>
  </md-card-content>
  <md-card-actions>
    <button md-button>ADD</button>
  </md-card-actions>

</md-card>

