<section class="app flex-container" fxLayout="column" fxLayoutAlign="start center">
  <md-toolbar color="primary" class="mat-elevation-z12">

    <a href="/">{{title}}</a>

    <span class="app-toolbar-filler"></span>
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>
  </md-toolbar>


<md-sidenav-container fxFlex>
  <md-sidenav #sidenav mode="side" align="end" class="app-sidenav" class="mat-elevation-z6">

    <md-nav-list>
      <a md-list-item *ngIf="loggedIn"
        (click)="sidenav.close(); userService.logout()"
        [routerLink]="['/']">
        <span md-line>Log Out</span>
      </a>
      <a md-list-item (click)="sidenav.close()" [routerLink]="['/request']">
        <span md-line>Event Signup</span>
      </a>
      <a md-list-item (click)="sidenav.close()" [routerLink]="['/admin']">
        <span md-line>Admin</span>
      </a>
      <a md-list-item (click)="sidenav.close()" [routerLink]="['/about']">
        <span md-line>About...</span>
      </a>
    </md-nav-list>

  </md-sidenav>




<div class="app flex-container" fxLayout="column" fxLayoutAlign="start center">
<profile></profile>

<router-outlet></router-outlet>

</div>

</md-sidenav-container>




</section>
