body {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
}

.app {
    height: 100vh;
}

.app-toolbar-filler {
  flex: 1 1 auto;
}

.app-card {
  width: 80vh;
}

md-nav-list {
  padding: 0px;
}
md-sidenav-container {
  margin: 0;
  width: 100%;
  height: 100%;
}
md-sidenav-layout {
  background: rgba(0, 0, 0, .03);
}
.sidenav {
  width: 300px;
}

.fill-remaining-space {
  flex: 1 1 auto;
}