<!-- NO EVENTS -->
<md-card class="flat" *ngIf="!(eventList$ | async)?.length">
    <p class="secondary text-center">
      Add an event to hangout with people that share your interests
    </p>
</md-card>

<!-- HAS EVENTS -->
<md-card *ngIf="(eventList$ | async)?.length">
  <md-card-content>

    <md-list>
    <md-list-item *ngFor="let item of eventList$ | async">
      <h3 md-line>{{item.name}}</h3>
      <p md-line class="demo-secondary-text">Time - Location</p>
      <div *ngIf="item.topic">
        <p md-line class="demo-secondary-text">{{item.topic.name}}</p>
      </div>
      <div *ngIf="!item.topic">
        <p md-line class="demo-secondary-text">pending</p>
      </div>

    </md-list-item>
    </md-list>
  </md-card-content>
<!--   <md-card-actions>
    <button md-button>ADD</button>
  </md-card-actions> -->
</md-card>

